body {
    font-family: Arial, sans-serif;
    margin: 0;
}

nav {
    background-color: #191716;
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 20px;
}

a {
    color: #feefe5;
    text-decoration: none;
    padding: 10px 20px;
}

a:hover {
    background-color: #2fcbee;
    border-radius: 5px;
}

.section {
    padding: 50px;
    text-align: center;
}

/* Add more styling as per your preferences */
